.fl {
  float: left;
}
.fr {
  float: right;
}
.text-overflow {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.hover-pointer{
  cursor: pointer;
}
body {
  color: #d1d1d1;
  background: #2e2e2e;
}
.app{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 50px 0 122px;
  box-sizing: border-box;
}
.main{
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1140px;
  margin-top: 50px;
  padding: 40px 16px;
}